  .options {
    margin: 20px 20px 20px 20px;
  }

  .kanban-board{
    background-color: #F0F2FD;
  }

  .options label {
    margin-right: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 16px;
    font-family: "Segoe UI";
  }
  
  .options select {
    padding: 4px;
    font-size: 14px;
    margin-left: 8px;
    margin-right: 12px;
    font-family: "Segoe UI";
    border: 1px solid #ccc;
  }
  
  .ticket {
    margin-bottom: 8px;
    padding: 12px;
    border: 1px solid rgb(234, 234, 234);
    border-radius: 4px;
    background-color: #ffffff;
    font-family: "Segoe UI";
  }
  
  h2{
    margin-left: 14px;
    font-family: "Segoe UI";
  }
  
  .ticket h3 {
    margin: 8px 8px 8px 8px;
    font-size: 16px;
    font-family: "Segoe UI";
  }
  
  .ticket p {
    margin: 4px 4px 4px 8px;
    font-size: 14px;
  }
  
  
  .ticket.priority-4 h3 {
    color: #CC0000;
  }
  
  .ticket.priority-3 h3{
    color: #FF4500;
  }
  
  .ticket.priority-2 h3{
    color: #FFA500;
  }
  
  .ticket.priority-1 h3{
    color: #4CAF50;
  }
  
  .ticket.priority-0 h3{
    color: #2196F3;
  }
  
  .columns-container {
    display: flex;
    overflow-x: auto;
  }
  
  .column {
    float: left;
    width: 30%;
    padding: 12px;
    background-color: #F0F2FD;
    font-family: "Segoe UI";
  }
  
  .row-container {
    display: flex;
    color: grey;
    font-size: 8px;
    font-family: "Segoe UI";
    margin: 4px 4px 0px 0px;
    justify-content: space-between;
    width: 100%; 
  }
  
  .id {
    padding: 8px;
    color: grey;
    font-size: 12px;
    font-weight: 400;
    font-family: "Segoe UI";
  }